---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: filebrowser
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: filebrowser/filebrowser
              tag: latest
    service:
      main:
        ports:
          http:
            port: 80
    persistence:
      srv:
        enabled: true
        existingClaim: slushmedia-data
      config:
        enabled: true
        type: persistentVolumeClaim
        storageClass: nfs-titan-nvme
        accessMode: ReadWriteOnce
        size: 100Mi

    ingress:
      main:
        enabled: true
        hosts:
          - host: filebrowser.home.boundcorp.net
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main

