---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: filebrowser-config
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: nfs-titan-nvme
  resources:
    requests:
      storage: 100Mi
