---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: slushmedia-data
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Ti
  storageClassName: nfs-titan-hdd
