#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(expand_path ~/.kube/clusters/home)
export K8S_AUTH_KUBECONFIG=$(expand_path ~/.kube/clusters/home)
export SOPS_AGE_KEY_FILE=$(expand_path ~/.secrets/infra/age-key.txt)
