# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Backups and secrets
.backups/
backups/
*.pem
*.ppk
id_ssh-*
# Local build and device artifacts
**/__pycache__/
*.deb
tmp-esphome-*.yaml
# Ansible
xanmanning.k3s*
restore
