---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: leeward-backups
  namespace: backups
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Ti
  storageClassName: nfs-titan-hdd
